header {
    background-color: #404040;
    height: 100px;
}

ul {
    padding: 30px;
    margin-left: 400px;
}

a { 
    color:white;
    text-decoration: none;
}
.logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
}

.row {
    margin-top:30px;
    display: flex;
    gap: 30px;
}

p {
    overflow-y: scroll;
}
